* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
:root {
  --bg-dark: #2F353B;
  --text-light: #FAF9F6;
  --accent-elixir:#00F5D4;

  /* Spacing Scale - standardizing our 'Engineering Interface' */
  --space-md: 1.5rem;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}
nav ul {
    list-style: none; 
}
nav a {
    color: var(--accent-elixir);
    text-decoration: none;
}
header {
  border-bottom: 4px solid var(--accent-elixir);
}